/**
 * mdl-stepper - A Material Design Lite Stepper component polyfill.
 * @version v1.1.6
 * @author Alexandre Thebaldi <ahlechandre@gmail.com>.
 * @link https://github.com/ahlechandre/mdl-stepper
 *
 * @contributor Michael Haschke <http://michael.haschke.biz/>
 */

@import '../variables';
@import '../mixins';
@import '../color-definitions';

// FadeIn animation.
@include Keyframes(FadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

// FadeInFromBottom animation.
@include Keyframes(FadeInFromBottom) {
  0% {
    height: 0;
    padding-top: $stepper-label-layer-height;
    background-color: white;
    color: white;    
  }
  25% {
    color: white;    
  }
}

/* STEPPER */

.mdl-stepper {
  position: relative;
  font-family: $stepper-font-family;
  background-color: white;
  display: block;
  @include shadow-2dp();
  padding: ($stepper-padding * 2) 0;
  max-width: $stepper-vertical-max-width;
  width: 100%;
  border-radius: 2px;

  & > li {
    list-style: none;
  }
}

/* STEPPER ON SMALL SCREENS */

@media only screen and (max-width: 375px) {
  
  .mdl-stepper {
    width: 100vw;
  }

  // Polyfill to small screens when using inside a grid/cell.  
  .mdl-grid .mdl-cell .mdl-stepper {
    margin-left: -16px;
  }
}

/* STEPPER VERTICAL ONLY */

.mdl-stepper:not(.mdl-stepper--horizontal) {

  & > .mdl-step {

    // Connector line is not present in the last step.
    &:not(:last-child) {
      // Vertical connector line.
      &:after {
        content: '';
        position: absolute;
        top: #{(($stepper-padding * 4) + 2)};
        left: #{(($stepper-padding * 3) + 1)};
        width: 1px;
        height: calc(100% - #{($stepper-padding * 2)});
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.is-active {
        // Vertical connector line on active steps.
        &:after {
          height: calc(100% - #{$stepper-padding});
        }
      }
    }
  }

  & .mdl-step__label {

    &:hover, &:active, &:focus {
      background-color: rgba(0, 0, 0, 0.06);    
    }
  }
}

/* STEP */

.mdl-step {
  position: relative;
  height: 460px;

  // Reset height on non-active steps.    
  &:not(.is-active) {
    height: initial!important;
  }


  // All steps (except the last) must have margin at bottom.
  &:not(:last-child) {
    margin-bottom: 24px;

    // Greater margin to the active.
    &.is-active {
      margin-bottom: 36px;
    }
  }

  & .mdl-step-error-message {
    display: none;
  }
  
  // Applying fade-in effect to label, content and actions.
  & > * {
    @include Animation(FadeIn, 0.5s, ease-in-out);
  }
}

/* STEP ACTIVE */

.mdl-step.is-active {

  & .mdl-step__title {
    font-weight: bold;
  }

  & .mdl-step__content {
    display: block;
  }

  // Active step circle.
  & .mdl-step__label-indicator {
    background-color: $color-google-blue;
    color: white;
  }

  & .mdl-step__actions {
    @include DisplayFlex();
    justify-content: flex-start;

    // "Continue" button.
    & [data-stepper-next] {
      order: 1;
      margin-right: 8px;
    }

    // "Cancel" button.
    & [data-stepper-cancel] {
      order: 2;
    }

    // "Skip" button.
    & [data-stepper-skip] {
      order: 3;
      margin-left: auto;
    }

    // "Back" button.
    & [data-stepper-back] {
      order: 4;
      margin-left: auto;
    }
  }
}

/* STEP MOD COMPLETED */

.mdl-step--completed {
 
  & .mdl-step__label-indicator {
    background-color: $color-google-blue;
  }
}

/* STEP MOD ERROR */

.mdl-step--error {

  & .mdl-step__title {
    color: $color-red;
  }

  & .mdl-step-error-message {
    display: block;
    color: $color-red;
    font-weight: normal;
  }

  & .mdl-step__label-indicator {
    background-color: $color-red !important;
    font-weight: bold;
  }
}

/* STEP MOD OPTIONAL */

.mdl-step--optional {}

/* STEP MOD TRANSIENT */

.mdl-step--transient {
 
  & .mdl-step__content {
    overflow: hidden !important;
  }
}

.mdl-step__label {
  position: relative;
  @include DisplayFlex();
  cursor: pointer;
  margin-bottom: ($stepper-padding / 1.5);
  padding: $stepper-padding ($stepper-padding * 2) ($stepper-padding * 2) ($stepper-padding * 2);
  align-items: center;
}

/* STEP LABEL MOD WITH SUBLABEL */

.mdl-step__label--with-sublabel {
  align-items: baseline;
}

/* STEP TITLE */

.mdl-step__title {
  @include DisplayFlex();
  flex-flow: column nowrap;
  order: 2;
  width: 100%;
}

/* STEP TITLE MESSAGE */

.mdl-step__title-message {
  position: absolute;
  font-size: 12px;
  opacity: .7;
  font-weight: 400;
  top: $stepper-circle-size;
}

/* STEP LABEL INDICATOR */

.mdl-step__label-indicator {
  @include DisplayFlex();
  order: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  color: white;
  margin-right: $stepper-padding;
  margin-bottom: auto;

  // Step circle.
  & >:first-child {
    @include DisplayFlex();
    font-size: 15px;
    width: $stepper-circle-size;
    height: $stepper-circle-size;
    align-items: center;
    justify-content: center;
  }
}

/* STEP CONTENT */

.mdl-step__content {
  display: none;
  height: $step-content-height;
  width: inherit;
  overflow: auto;
  margin-left: $step-content-margin-left;
  margin-right: ($stepper-padding * 2);
}

/* STEP ACTIONS */

.mdl-step__actions {
  display: none;
  padding-top: ($stepper-padding + ($stepper-padding / 3));
  height: ($stepper-padding * 4);
  margin-left: $step-content-margin-left;
  margin-right: ($stepper-padding * 2);
  
  // "Continue" button.
  & [data-stepper-next].mdl-button--raised.mdl-button--colored {
    background-color: $color-google-blue;
    box-shadow: none;
  }
}

/* STEP TRANSIENT */

.mdl-step__transient {
  position: absolute;
  top: #{($stepper-padding * 6)};
  left: $step-content-margin-left;
  z-index: 2;
  @include DisplayFlex();
  width: calc(100% - 88px);
  height: $step-content-height;
  transition: 0.3s all ease-in-out;
}

/* STEP TRANSIENT OVERLAY */

.mdl-step__transient-overlay {
  content: '';
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

/* STEP TRANSIENT LOADER */

.mdl-step__transient-loader {
  z-index: 4;
  margin: auto;
}

/* STEPPER MOD HORIZONTAL */

// Horizontal steppers only available for large screens.
@media only screen and (min-width: ($grid-desktop-breakpoint + 1)) {
  
  .mdl-stepper--horizontal {
    @include DisplayFlex();
    flex-direction: row;
    // Not supported on Firefox because container has a child with
    // position absolute (&:before).
    // justify-content: space-between;
    align-items: baseline;
    max-width: $grid-desktop-breakpoint; 
    padding: 0;
    min-height: $stepper-horizontal-min-height;

    &:before {
      content: '';
      background-color: transparent;
      width: 100%;
      min-height: $stepper-label-layer-height;
      @include shadow-1dp();  
      position: absolute;
      top: 0;
      left: 0;
    }

    /* HORIZONTAL STEP */

    & > .mdl-step {
      position: static;
      @include DisplayFlex();
      justify-content: center;
      align-items: initial;
      margin-top: 0!important;
      margin-bottom: 0!important;
      height: initial;
      max-height: $stepper-label-layer-height;
      overflow: hidden;

      &.is-active {
        
        // Overlaying the label when transient effect is active.
        &.mdl-step--transient:before {
          content: attr(data-step-transient-message);
          @include Animation(FadeInFromBottom, 0.3s, cubic-bezier(0,0,0,.99));
          position: absolute;
          padding-left: ($stepper-padding * 2);
          display: flex;
          font-size: 16px;
          justify-content: flex-start;
          align-items: center;
          width: calc(100% - #{($stepper-padding * 2)});
          height: $stepper-label-layer-height;
          background-color: white;
          top: 0;
          left: 0;
          z-index: 9;
        }
      }

      & .mdl-step__transient {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
      // Simulates justify-content: space-between.
      &:not(:first-child):not(:last-child) {
        margin: auto auto;
      }

      &:not(:last-child) {
        flex: 1;
      }

      // Horizontal connector line.
      &:not(:last-child):after {
        content: '';  
        position: relative;
        flex: 1;
        // Not supported on Firefox.
        // margin: auto;
        top: #{($stepper-label-layer-height / 2)};
        width: ($stepper-padding * 14);
        margin-left: -#{$stepper-padding};
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      /* STEP MOD COMPLETED */

      &.mdl-step--completed {

        // The title text of steps completed must be highlighted. 
        & .mdl-step__title > .mdl-step__title-text {
          font-weight: bold;
        }
      }
    }

    /* HORIZONTAL STEP LABEL */

    & .mdl-step__label {
      top: -#{($stepper-padding * 4)};
      flex: initial;
      margin: 0;
      padding: ($stepper-padding * 2);
      min-height: ($stepper-padding * 11);
      transition: 0.025s border-radius linear;
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.06);        
      }

      &:active {
        padding: $stepper-padding;
        margin: $stepper-padding;
        border-radius: 100%;
      }
      
      & > .mdl-step__title {
        width: initial;
      }
      
      & > .mdl-step__title > * {
        // Max size of a title text or message.
        max-width: ($stepper-padding * 10);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > .mdl-step__title > .mdl-step__title-message {
        position: relative;
        top: 0;
        line-height: ($stepper-padding + 2);
      }

      & > .mdl-step__label-indicator {
        margin-top: auto;
      }
    }

    /* HORIZONTAL STEP CONTENT */

    & .mdl-step > .mdl-step__content {
      position: absolute;
      top: $stepper-label-layer-height;
      left: 0;
      width: calc(100% - #{($stepper-padding * 4)});
      height: calc(100% - #{($stepper-padding * 16)});
      margin: ($stepper-padding * 2);
    }

    /* HORIZONTAL STEP ACTIONS */

    & .mdl-step > .mdl-step__actions {
      position: absolute;
      top: calc(100% - #{($stepper-padding * 7)});
      left: 0;
      margin: 0;
      padding: ($stepper-padding * 2);
      width: calc(100% - #{(($stepper-padding * 4))});
      
      // "Continue" button on horizontal steppers.
      & [data-stepper-next] {
        order: 4;
        margin-left: #{$stepper-padding / 1.5};
        margin-right: 0;
        color: $color-google-blue;
        background-color: transparent;
      }

      // "Cancel" button on horizontal steppers.
      & [data-stepper-cancel] {
        order: 3;
        margin-left: auto;
      }

      // "Skip" button on horizontal steppers.
      & [data-stepper-skip] {
        order: 2;
        margin-left: auto;
      }

      // "Back" button on horizontal steppers.
      & [data-stepper-back] {
        order: 1;
        margin-left: 0;
        margin-right: auto;
      }

    }

    /* STEPPER MOD HORIZONTAL + MOD LINEAR */
    
    &.mdl-stepper--linear {

      // Horizontal and linear steps.   
      & > .mdl-step {
       
        // Linear steppers require users to complete one step in order to move on to the next.
        // Non-completed and non-actived title text must have disabled effect.
        &:not(.mdl-step--completed):not(.is-active) .mdl-step__title > .mdl-step__title-text {
          opacity: .5;
        }
      }
    }
  }

}

